# Project exclude paths
/.idea
.settings

/.gradle/
/build/
/out/
/out/production/classes/
/out/test/classes/
# Project exclude paths
/api/build/
/api/build/classes/java/main/
/api/.settings
# Project exclude paths
/core/build/
/core/build/classes/java/main/
/core/build/classes/java/test/
/core/.settings